* {
    margin: 0;
    padding: 0;
}
body{
    color: rgb(93, 96, 99);
    background-color: rgb(226, 238, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

/*Estilizando o form*/
.header-form{
    text-align: center;
    background-color: rgb(247, 209, 209);
    border: 1px solid black;
    width: 87%;
    padding: 20px;
    margin: 40px auto;
}
.header-form h1{
    margin-bottom: 20px;
}
  

#fieldset-main{
    text-align: center;
    margin: 40px auto;
    width: 90%;

}

.container-line{
    text-align: center;
    background-color:  rgb(247, 209, 209);
    padding: 10px; 
    
}

/*Estilizando o input*/
.container-line input[type="text"]{
    padding: 7px;
    width: 40%;
    border-radius: 5px;
}
.container-line input[type="email"]{
    padding: 7px;
    width: 40%;
    border-radius: 5px;
}
.container-line input[type="radio"]{
    padding: 7px;
}
/*Estilizando a label*/
.container-line label{
    margin-bottom: 10px;
    margin-top: 10px;
    display: block;
}

/*Estilizando o button*/
button{
    padding: 5px;
    background-color: rgb(101, 138, 138);
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    padding: 10px;
    background-color: rgb(201, 16, 32);
}
/*Estilizando o textarea*/
#text-area{
    width: 50%;
    margin-top: 15px;
    resize: none;
    padding: 10px;
}