* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
  border: 1px solid red;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

#header{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(65, 63, 63);
}

#paragrafo{
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

#images-logo{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-content:space-around;
  width: 500px;
  height: 400px;
  flex-wrap: wrap;
  margin: 30px auto;
}

#footer{
  display: flex;
  justify-content: center;
}

